:root,

:root.dark {
  --bgColor: #0D1017;
  --fgColor: #bfbdb6;
  --metaColor: #6c5980;
  --headColor: #;
  --linkColor: #ffb454;
  --hovColor: #ff8f40;
  --bgSelect: #acb6bf8c;
  --bgUrl: url(https://i.ibb.co/LzrFBFJ/tileDark.webp) repeat;
  --red: #f07178;
  --dimRed: #f26d78;
  --orange: #e6b673;
  --dimOrange: #f29668;
  --yellow: #ffb454;
  --dimYellow: #e6b673;
  --green: #aad94c;
  --dimGreen: #7fd962;
  --blue: #39bae6;
  --dimBlue: #59c2ff;
  --purple: #d2a6ff;
  --dimPurple: #6c5980;
  --grey: #6c7380e6;
  --dimGrey: #6c738099;
}

:root.light {
  --bgColor: #E5E5E5;
  --fgColor: #5c6166;
  --metaColor: #6c5980;
  --headColor: #;
  --linkColor: #ffb454;
  --hovColor: #ff8f40;
  --bgSelect: #acb6bf8c;
  --bgUrl: url(https://i.ibb.co/LzrFBFJ/tileLight.webp) repeat;
  --red: #f07178;
  --dimRed: #f26d78;
  --orange: #e6b673;
  --dimOrange: #f29668;
  --yellow: #ffb454;
  --dimYellow: #e6b673;
  --green: #aad94c;
  --dimGreen: #7fd962;
  --blue: #39bae6;
  --dimBlue: #59c2ff;
  --purple: #d2a6ff;
  --dimPurple: #6c5980;
  --grey: #6c7380e6;
  --dimGrey: #6c738099;
}

::-moz-selection {
  color: var(--bgColor);
  background: var(--metaColor)
}

::selection {
  color: var(--bgColor);
  background: var(--metaColor)
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  scrollbar-color: var(--metaColor) var(--bgColor);
  scrollbar-width: thin;
}

body {
  font-family: monospace;
  font-size: 1.6rem;
  line-height: 1.35;
  max-width: 108rem;
  margin: auto;
  overflow-wrap: break-word;
  background: var(--bgColor);
  color: var(--fgColor);
}

@media only screen and (max-width: 1081px) {
  body {
    font-size: 1.2rem;
    max-width: 95%;
  }
}

h1 {
  font-size: 2.4rem;
  color: var(--bgColor);
  background-color: var(--metaColor);
  text-align: center;
  text-wrap: balance;
  margin-top:0px
}

h1::before {
  color: var(--bgColor);
  content: '# '
}

h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  color: var(--metaColor);
  content: '# '
}

a {
  text-decoration: none;
  padding: 0 .2rem 0 .2rem;
  border-radius: .3rem;
  color: var(--linkColor);
}

a:focus,
a:hover {
  background-color: var(--linkColor);
  color: var(--bgColor)
}

ul {
  list-style: none;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

li {
  margin-bottom: .25rem;
}

ul li::marker {
  content: '» ';
  color: var(--metaColor)
}

ul li:hover::marker {
  content: '# ';
  font-weight: 700;
  color: var(--linkColor)
}

blockquote {
  border-left: .5rem solid var(--metaColor);
  margin: 1rem;
  padding: 0 0 0 1rem
}

textarea {
  border: 2px dotted;
  outline: 0;
  resize: none;
  overflow: auto;
  background-color: var(--bgColor)
}

hr {
  border: 1px dashed
}

img {
  max-width: 90%;
  height: auto;
  margin: .2rem;
  padding: .2rem;
  border: dashed .2rem var(--metaColor);
  border-radius: 15px
}

pre {
  border: 1px solid var(--metaColor);
  padding: 1rem;
  overflow-x: auto;
  font-style: monospace;
  white-space: pre-wrap; 
  word-break: break-word;
}

p code,
li code,
div code {
  padding: 0 .2rem 0 .2rem;
  border-radius: .3rem;
  color: var(--bgColor);
  background-color: var(--fgColor);
}

pre code {
  padding: 0;
  border-radius: 0;
  color: inherit;
  background-color: inherit;
}

iframe {
  max-width: 90%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  line-height: 1.1
}

thead th:first-child {
  width: 20%
}

th {
  font-weight: 400
}

td,
th {
  padding: .5rem;
  border: dashed .1rem var(--metaColor)
}

footer {
  font-size: 1.4rem;
  clear: both;
  color: var(--footColor)
}

footer,
td,
th {
  text-align: left
}

.metaData,
.themeButton,
hr,
textarea {
  color: var(--metaColor)
}

/* Site Specific Styling */
.wrapper {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  
}

/* Icons settings */
.icons {
  width: 2.0rem;
  height: 2.0rem;
  aspect-ratio: 1/1;
  display: inline-block;
  vertical-align: middle;
  color: var(--fgColor);
  fill: var(--fgColor);
  background-color: transparent;
}

.icons__background:hover {
  background-color: transparent;
  color: var(--metaColor);
}

.navBar {
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width:100%;
}

.active {
  background-color: var(--dimPurple);
}

.themeSwitch {
  margin-left: auto;
}

.themeButton {
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  background-color: transparent;
}

.dark .themeButton.dark,
.themeButton.light {
  display: none
}

.dark .themeButton.light {
  display: block
}

.tagsData {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end
}

.titleList li {
  margin-bottom: .75rem;
}

.footnote-definition {
  margin: 0 0 0 2rem;
}

.footnote-definition-label {
  color: var(--metaColor);
}

.footnote-definition p {
  display: inline;
  padding: 0 0 0 1rem;
}

.footContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.noStyle {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0
}

.textCenter {
  text-align: center;
}

.floatRight {
  float: right
}

.floatLeft {
  float: left
}

.webring {
  margin: 0.5rem;
}

/* Add Padding */
@media (max-width: 650px) {
  .wrapper {
    margin: 1rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}