<!DOCTYPE html>
<html lang="{% if page %}{{ page.lang }}{% else %}{{ config.default_language }}{% endif %}">
<head>
    {% include "head.html" %}
    <script>const defaultTheme = "{{ config.extra.default_theme }}";</script>
</head>
<body>
    <div class="wrapper">
      <header>
          {% include "header.html" %}
      </header>
      <main>
          {% block content %}
          {% endblock content %}
      </main>
      <footer>
          {% include "footer.html" %}
      </footer>
    </div>
</body>
</html>