{% extends "base.html" %}

{% block content %}
<p class="sr-only">Hello! If you hear a heading number skipped, your screen reader is not malfunctioning, it's just how I've written things to achieve a specific visual. I hope you can understand, thank you for visiting!</p>
<div><a href="..">..</a>/<span class="metaData">{{ page.slug }}</span></div>
<time datetime="{{ page.date }}">Published on: <span class="metaData">{{ page.date }}</span></time>
{% if config.extra.author and config.extra.display_author == true %}
<address rel="author">By <span class="metaData">{{config.extra.author}}</span></address>
{% endif %}
<h1>{{ page.title }}</h1>

{% if page.toc and page.extra.toc %}
<h2>Table of contents</h2>
<ul>
  {% for h1 in page.toc %}
  <li>
    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
    {% if h1.children %}
    <ul>
      {% for h2 in h1.children %}
      <li>
        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
        <ul>
          {% for h3 in h2.children %}
          <li>
            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{{ page.content | safe }}

<p class="tagsData">
  {% if page.taxonomies.tags %}
  {% for tag in page.taxonomies.tags %}
  <a href="/tags/{{ tag | slugify }}">&#47;{{ tag }}&#47;</a>
  {% endfor %}
  {% endif %}
</p>
<script type="text/javascript" src="{{ get_url(path='js/footnote.js', trailing_slash=false) | safe }}" async></script>
{% endblock content %}
